body{
	font-family: 'Droid Sans', 'Helvetica', Arial, sans-serif;
}

h1{
	margin: 0;
}

#cabecera{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#inicializar, #compactar{
	height: 3rem;
	cursor: pointer;;
}

#map{
	display: block;
	margin: 0;
	padding: 0;
	position: absolute; /* posición absoluta a navegador */
	top: 80px;      /* 50px debajo de borde de navegador */
	left: 0;        /* ajusta a borde de navegador */
	right: 0;
	bottom: 0;
	background: rgba(0,255,0,0.5); /* verde si no hay mapa */
}
