body{
	background-color: #44a08d;
	background: linear-gradient(to bottom, #093637, #44a08d);
	margin-top: 0;
	margin-bottom: 3rem;
	font-size: 1rem;
	color: #093637;
	font-family: Arial, sans-serif;
}
#articulo{
	margin-left: auto;
	margin-right: auto;
	width: 60rem;
	background: white;
	border: 2px solid white;
	border-top-left-radius: 2.5rem;
	border-bottom-right-radius: 2.5rem;
	padding: 1.5rem;
}
pre {
	padding: 1rem;
	box-shadow: 0 0 0.5rem 0.5rem #888;
	background: white;
	background: linear-gradient(to bottom, #44a08d 0%, white 8%) 0 57px;
	background-size: 100% 1rem;
}
h1{
	font-size: 1.8rem;
}
section h2{
	font-size: 1.4rem;
}
section h3{
	font-size: 1.1rem;
}
