@font-face {
	font-family: "mi calculadora";
	src: url(DS-DIGI.TTF);
}
#calculadora{
	margin-left: auto;
	margin-right: auto;
}
.pantalla{
	font-family: "mi calculadora";
	font-size: 6rem;
	background: #a0a0a0;
	color: white;
	width: 254px;
	height: 90px;
	border: none;
}
.operadorbinario{
	background: #1e90ff;
}
.operadorunitario{
	background: #00bfff;
}

.botonoperacion{
	width: 60px;
	height: 60px;
	border: none;
	color: white;
	font-size: 1rem;
}

.botonresultado{
	width: 60px;
	height: 190px;
	background: orange;
	border: none;
	color: white;
	font-size: 1.5rem;
}
